<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
</head>
<body>

    <nav class="navbar navbar-inverse bg-primary" *ngIf="!isUserLoggedIn">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <a class="navbar-brand" href="#">
              {{title}}
            </a> -->
            <h3 >{{title}}</h3>
          </div>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="isUserLoggedIn">
          <a class="navbar-brand" id='anker' href="#">ToDO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" placeholder="Search" type="text">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
          <div>
          <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline-secondary my-2 my-sm-0" routerLink='/home'type="submit">Logout</button>
            </form>
          </div>
        </nav>
           
    <!--Navbar-->
<!-- <nav class="navbar navbar-expand-lg bg-primary" *ngIf="isUserLoggedIn">
    <i class='material-icons'>home</i> 
    <button type="button" class="btn btn-primary" id="btn" routerLink='/login'>Login</button>  
    <button type="button" class="btn btn-primary" id="btn2" routerLink='/signup'>Signup</button>
 </nav> -->
 <!-- <app-todo></app-todo> -->
 <!-- <app-login></app-login>  -->
 <router-outlet></router-outlet>
</body>
</html>
