#btn
{
margin-left: 72em;
padding-left:2em;
padding-right: 2em;
}
#btn2{
    margin-left: 1em;
    padding-left:2em;
    padding-right: 2em;
}
body{
    background-image:url(https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    overflow:auto;
    
}